.about {

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 40px;

        @media (max-width: 790px) {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }

    &__title {
        @media (max-width: 790px) {
            line-height: 50px;
            margin-bottom: 20px;
        }
    }

    &__text {
        max-width: 670px;
        font-size: 18px;

        color: #787878;
    }

    &__video {
        width: 100%;
        border-radius: 30px;
    }

    @media (max-width:768px) {
        padding-top: 0px;
    }
}

.container {}