.not_found {

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    &__title {
        font-size: 120px;
        font-weight: 700;
        color: #5BAD54;
        text-align: center;
    }

    &__subtitle {
        padding: 40px 0;
        text-align: center;
    }

    &__btn {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        padding: 20px 45px;
        background: #5BAD54;
        border-radius: 10px;
        border: 2px solid #5BAD54;
        transition: all .2s ease;

        @media (max-width:1000px) {
            font-size: 14px;
        }

        @media (max-width:720px) {
            padding: 20px 60px;
        }

        &:hover {
            background: transparent;
            color: #5BAD54;
        }
    }
}